.title{
    text-align: center;
    font-family: 'Oswald';  
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 22px;
    margin-bottom: 80px;
    margin-left: 20px;
  }