*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(250, 242, 204, 1);
  height: 130vh;
  color: rgba(0, 0, 0, 0.85);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  max-width: 1440px;
  margin: auto;
  padding: 0 70px 0 70px;
}
.registaration-section_container{
  width: 360px;
  margin: 110px auto 0 auto;

}
.registaration-section_container h1{
  text-align: center;
  font-family: 'Oswald';  
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 22px;
  margin-bottom: 80px;
}
.registaration-section_input-buttons{
  display: flex;
  margin-bottom: 45px;
}
.registaration-section_input-buttons button:first-child{
  margin-left: -6px;
}
.registaration-section_input-buttons button{
  margin-right: 35px;
  border: none;
  background-color: transparent;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 2px;
}
.registaration-section_input-buttons button:hover{
  border-bottom: 2px solid rgba(76, 40, 24, 1);
  padding-bottom: 0px;
}
.registaration-section_user-data{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-input_container, .password-input_container{
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.password-input_container{
  margin-bottom: 45px;
}
.login-input, .password-input{
  width: 100%;
  height: 40px;
  padding-left: 20px;
}
.login-input_container img, .password-input_container img{
  position: absolute;
  margin-top: 13px;
  margin-left: 4px;
  width:13px ;
  height:13px ;
}
.remember-me_cotainer{
  display: flex;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 45px;
}
.entry-button, .registaration-button{
  width: 120px;
  height: 30px;
  background-color: rgba(76, 40, 24, 1);
  color: aliceblue;
}
.registaration-button{
  width: 190px;
}

.registrantion > input{
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
.recovery-input_container{
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  
}
.recovery-input_container input{
  height: 30px;
  width: 100%;
  padding-left: 20px;
}
.recovery-input_container img{
  position: absolute;
  margin-top: 9px;
  margin-left: 4px;
  width:13px ;
  height:13px ;
  
}
.questions-icon{
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  font-size: 18px;
  position: fixed;
  right: 75px;
  bottom: 45px;
}
.change-languageicon{
  position: fixed;
  right: 75px;
  top: 45px;
  width: 15px;
  height: 15px;
}
.change-languageicon img{
  width: 100%;
}